html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* --- HEADER STYLES ---*/

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 100;
    height: 64px;
    align-items: center;
    width: 100%;
    top: 0;
    background-color: white;

}
header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
    padding-left: 24px;
}

/*--- NAV STYLES ---*/

nav {
    padding: 0;
    margin: 0;
}

header nav ul {
  display: flex;
  margin-right: 24px;
  padding: 0;
  list-style: none;

  
}

nav li {
    margin: 16px;
}

nav a { 
    color: #000;
    text-decoration: none;
}

/*---START SECTION---*/

.start {
    background-color: lightgrey;
    display: flex;
    width: 100%;
    padding-top: 64px;
}

.start img {
    width: 60%;
    padding: 32px 24px;
}

.s-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 24px;
    
}

.s-text button {
    background-color:#000 ;
    color: white;
    box-sizing: content-box;
    width: 90%;
    height: 10%;
    top: 8px;
    bottom: 8px;
    position: relative;
}

/* --- MAIN CONTENT STYLES ---*/

.main-content {
    display: flex;
    padding-top: 64px;
    width: 100%;
}

.practice {
    width: 60%;
    padding: 32px 24px;
}


.practice img {
  width: 100%;
  height: auto;
}


.practice h1 {
    font-size: 2rem;
    margin-top: 16px;
    margin-bottom: 8px;
}

.practice p {
    font-size: 1rem;
    margin-bottom: 16px;
}


/*---SIDEBAR STYLES---*/

.sidebar {
    width: 40%;
    background-color: white;
}

.sidebar-item {
    display: flex;
    padding: 1rem;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.sidebar-item img {
    width: 35%;
    height: auto;
    margin-right: 1rem;
}

.sidebar-item h3 {
    margin: 0;
    font-size: 1.25rem;
}

.sidebar-item p,
.sidebar-item a {
    margin: 0;
    font-size: 0.9rem;
    text-decoration: none;
    
}

