html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* --- HEADER STYLES ---*/

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 100;
    height: 64px;
    align-items: center;
    width: 100%;
    top: 0;
    background-color: white;

}
header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
    padding-left: 24px;
}

.header span {
    color: grey;
}

/*--- NAV STYLES ---*/

nav {
    padding: 0;
    margin: 0;
}

header nav ul {
  display: flex;
  margin-right: 24px;
  padding: 0;
  list-style: none;

  
}

nav li {
    margin: 16px;
}

nav a { 
    color: #000;
    text-decoration: none;
}

/*---START SECTION---*/

.start {
    background-color: lightgrey;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-top: 64px;
    align-items:center;
}

.start img {
    width: 60%;
    padding: 32px 24px;
}

.s-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    
}

.s-text h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.s-text p {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.s-text button {
    background-color:#000 ;
    color: white;
    width: 100%;
    padding: 1rem;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}

/* --- INFO CONTENT STYLES ---*/

.info {
    padding: 32px 24px;
}

.info h1{
    font-size: 2rem;
    margin-top: 16px;
    margin-bottom: 8px;
    text-align: center;
}



.info-container {
   display: flex;
   max-width: 1200px;
   margin: 0 auto;
}


.info-main {
     width: 60%;
     padding-right: 24px;
}
   


.info img {
    width: 100%;
    height: auto;

}

.info-main h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}


.info-main p {
      font-size: 1rem;
}




.info-sidebar {
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
}


.info-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;

}  

.info-item:hover {
    background-color: lightgrey;
}
   
.info-item:last-child {
    border-bottom: none;
}


.info-item img {
    width: 35%;
    height: auto;
    margin-right: 1rem;
    object-fit: cover; 
}

.info-text {
     display: flex;
     flex-direction: column;
}

.info-item h3 {
      margin: 0;
      font-size: 1.25rem;
}


.info-item a {
    margin: 0;
    font-size: 0.9rem;
    text-decoration: none;
    
}


/* --- LEARNING COURSES SECTION ---*/

.learning-courses {
    text-align: center;
    padding: 3rem 0;
    background-color: lightgrey;
    max-width: 1200px;
    margin: 0 auto;
}

.learning-courses h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 0 1rem;
    max-width: 1200px; 
    margin: 0 auto; 
}

.course {
    background-color: #f7f7f7; 
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    overflow: hidden; 
    transition: 0.3s ease-in;
}


.course:hover {
    transition: 0,3s ease-out;
    transform: scale(1.05);
}

.course img {
    width: 100%;
    height: auto;
}

.course h3,
.course h4,
.course p {
    padding: 0 1rem; 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.course h3 {
    font-size: 1.25rem;
}

.course h4 {
    font-size: 0.8rem;
    color: #555;
}

.course p {
    font-size: 0.9rem;
    color: #777;
}

/*--- THESIS STYLES ---*/

.thesis-exhibit {
    padding: 32px 24px;
}

.thesis-exhibit h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.thesis-container {
 display: flex;
 max-width: 1200px;
 margin: 0 auto;
}

.thesis-main {
    width: 60%;
    padding-right: 24px;
}

.thesis-main video{
    width: 100%;
    height: auto;

}

.thesis-main h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.thesis main p {
    font-size: 1rem;
}


.thesis-sidebar {
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
}


.thesis-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.thesis-item:hover {
    background-color: lightgrey;
}


.thesis-item img {
    width: 35%;
    height: auto;
    margin-right: 1rem;
    object-fit: cover;
}


.thesis-item .text-content {
    display: flex;
    flex-direction: column;
}


.thesis-item h3 {
    margin: 0;
    font-size: 1.25rem;
}


.thesis-item p {
    margin: 0;
    font-size: 0.9rem;
}


/*---FOOTER STYLES---*/


.footer {
    background-color: #f7f7f7;
    padding: 32px 24px;
    border-top: 1px solid #ccc;
}


.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer p {
    margin: 0;
    font-size: 0.9rem;
    color: #555;
}


.footer-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}


.footer-nav li {
    margin-left: 16px;
}


.footer-nav a {
    text-decoration: none;
    color: #555;
    font-size: 0.9rem;
}


/*---Mobile section---*/


@media (max-width: 640px) {
    .header {
        display: none;
    
}
.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
   padding: 0 16px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}

.mobile-header img {
        height: 32px;
        
    }


      .start, .start-container {
        flex-direction: column;
        padding-top: 64px;
        width: 100%;
        margin: 0;
    }

.start img {
        width: 100%;
        padding: 0;
    }
    .s-text {
        width: 100%;
        text-align: center;
    }
    .s-text button {
        width: 90%;
        margin: 0 auto;
        background-color: grey;
    }

    info-container, .thesis-container {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }


    .info-main {
     display: none;
}

    .info-main, .info-sidebar,
    .thesis-main, .thesis-sidebar {
        width: 100%;
        padding: 0;
    }
    .info-item, .thesis-item {
        flex-direction: column;
        text-align: center;
        margin: 0;
        padding: 16px;
    }
    .info-item img, .thesis-item img {
        width: 100%;
        margin: 0;
    }

    .learning-courses {
    text-align: center;
    padding: 3rem 0;
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
}

 .course-grid {
        grid-template-columns: 1fr;
    }
    .course {
        text-align: center;
        background-color: lightgrey;

    }


    .learning-courses {
        text-align: center;
        padding: 3rem 0;
        background-color: white;
        max-width: 100%;
        margin: 0 auto;
    }


    .course img, h4, p {
        display: none;
    }


    .thesis-sidebar {
        display: none;
    }

    .thesis-main h1 {
        display: none;
    }

.footer-container {
        flex-direction: column;
        text-align: center;
        max-width: 100%;
        margin: 0;
    }
    .footer-nav ul {
        flex-direction: column;
        margin-top: 16px;
    }
    .footer-nav li {
        margin: 8px 0;
    }
}