html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* --- HEADER STYLES ---*/

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 100;
    height: 64px;
    align-items: center;
    width: 100%;
    top: 0;
    background-color: white;

}
header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
    padding-left: 24px;
}

/*--- NAV STYLES ---*/

nav {
    padding: 0;
    margin: 0;
}

header nav ul {
  display: flex;
  margin-right: 24px;
  padding: 0;
  list-style: none;

  
}

nav li {
    margin: 16px;
}

nav a { 
    color: #000;
    text-decoration: none;
}

/*---START SECTION---*/

.start {
    background-color: lightgrey;
    display: flex;
    width: 100%;
    padding-top: 64px;
    align-items: center;
}

.start img {
    width: 60%;
    padding: 32px 24px;
}

.s-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    
}

.s-text h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.s-text p {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.s-text button {
    background-color:#000 ;
    color: white;
    box-sizing: content-box;
    width: 100%;
    padding: 1rem;
    border: none;
    text-align: center;
    cursor: pointer;
}

/* --- INFO CONTENT STYLES ---*/

.info {
    padding: 32px 24px;
}

.info h1{
    font-size: 2rem;
    margin-top: 16px;
    margin-bottom: 8px;
    text-align: center;
}



.info-container {
   display: flex;
   max-width: 1200px;
   margin: 0 auto;
}


.info-main {
     width: 60%;
     padding-right: 24px;
}
   


.info img {
    width: 100%;
    height: auto;

}

.info-main h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}


.info-main p {
      font-size: 1rem;
}




.info-sidebar {
    width: 40%;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
}


.info-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}  
   
.info-item:last-child {
    border-bottom: none;
}


.info-item img {
    width: 35%;
    height: auto;
    margin-right: 1rem;
    object-fit: cover; 
}

.info-text {
     display: flex;
     flex-direction: column;
}

.info-item h3 {
      margin: 0;
      font-size: 1.25rem;
}


.info-item a {
    margin: 0;
    font-size: 0.9rem;
    text-decoration: none;
    
}


/* --- LEARNING COURSES SECTION ---*/

.learning-courses {
    text-align: center;
    padding: 3rem 0;
    background-color: lightgrey;
}

.learning-courses h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 0 1rem;
    max-width: 1200px; 
    margin: 0 auto; 
}

.course {
    background-color: #f7f7f7; 
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    overflow: hidden; 
}

.course img {
    width: 100%;
    height: auto;
}

.course h3,
.course h4,
.course p {
    padding: 0 1rem; 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.course h3 {
    font-size: 1.25rem;
}

.course h4 {
    font-size: 0.8rem;
    color: #555;
}

.course p {
    font-size: 0.9rem;
    color: #777;
}

/*--- THESIS STYLES ---*/

.thesis-exhibit {
    padding: 32px 24px;
}

.thesis-exhibit h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.thesis-container {
 display: flex;
 max-width: 1200px;
 margin: 0 auto;
}

.thesis-main {
    width: 60%;
    padding-right: 24px;
}

.thesis-main video{
    width: 100%;
    height: auto;

}

.thesis-main h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.thesis main p {
    font-size: 1rem;
}


.thesis-sidebar {
    width: 40%;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
}


.thesis-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}



.thesis-item img {
    width: 35%;
    height: auto;
    margin-right: 1rem;
    object-fit: cover;
}


.thesis-item .text-content {
    display: flex;
    flex-direction: column;
}


.thesis-item h3 {
    margin: 0;
    font-size: 1.25rem;
}


.thesis-item p {
    margin: 0;
    font-size: 0.9rem;
}